<!DOCTYPE html>
  <html lang="en">

    {{ partial "head.html" . }}

    <body>

      {{ partial "nav.html" . }}
      {{ partial "header.html" . }}

      {{ if or (isset .Params "series") (isset .Params "categories") (isset .Params "tags") }}
      <div class="container">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="well">
            {{ if .Params.series }}
            Series: {{ range .Params.series }}<a href="{{ "/series/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}</br>
            {{ end }}
            {{ if .Params.categories }}
            Categories: {{ range .Params.categories }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}</br>
            {{ end }}
            {{ if .Params.tags }}
            Tags: {{ range .Params.tags }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}

    <div class="container" role="main">
      {{ if eq .Type "post" }}
        {{ partial "post.html" . }}
      {{ else if eq .Type "page" }}
        {{ partial "page.html" . }}
      {{ else }}
        NO MATCHING PARTIAL
        {{.Content}}
      {{ end }}
    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
